body {
	font-family: Arial, sans-serif;
	text-align: center;
	background: #111;
	color: #eee;
	margin: 0;
	padding: 20px;
	width: 200px;
}
.container {
	margin-top: 10px;
}

#about {
	color: white;
}

#about a:link, #about a:visited, #about a:active {
	color: white;
}

#spacer {
	height:20px;
}

h1 {
	font-size: 20px;
	margin-bottom: 10px;
}